<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name="com.example.progressfit.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Declarar LoginActivity -->
        <activity android:name="com.example.progressfit.LoginActivity"
            android:exported="true" />

        <!-- Declarar RegisterActivity -->
        <activity android:name="com.example.progressfit.RegisterActivity"
            android:exported="true" />

        <!-- Declarar WelcomeActivity -->
        <activity android:name="com.example.progressfit.WelcomeActivity"
            android:exported="true" />

        <activity
            android:name=".AddRoutineActivity"
            android:exported="false"
            android:parentActivityName=".WelcomeActivity" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".WelcomeActivity" />
        </activity>

    </application>
</manifest>
